In [1]:
# %matplotlib inline

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Henties Bay,NaN,2022-10-11 21:25:15,-22.1160,14.2845,287.41,94,4,3.80
1,1,Turukhansk,RU,2022-10-11 21:25:16,65.8167,87.9833,274.63,98,100,6.53
2,2,Hamilton,US,2022-10-11 21:21:17,39.1834,-84.5333,297.95,36,0,3.60
3,3,Abrau-Dyurso,RU,2022-10-11 21:25:17,44.6900,37.5900,277.85,57,4,3.25
4,4,Clyde River,CA,2022-10-11 21:25:18,70.4692,-68.5914,267.28,73,75,5.66

In [4]:
city_data_df["Max Temp"]

0      287.41
1      274.63
2      297.95
3      277.85
4      267.28
        ...
556    300.45
557    294.37
558    288.27
559    294.87
560    298.16
Name: Max Temp, Length: 561, dtype: float64

In [5]:
temp_to_f = (9/5)*(city_data_df["Max Temp"] - 273.15) + 32
temp_to_f

0      57.668
1      34.664
2      76.640
3      40.460
4      21.434
        ...
556    81.140
557    70.196
558    59.216
559    71.096
560    77.018
Name: Max Temp, Length: 561, dtype: float64

In [6]:
city_data_df["Max Temp"] = temp_to_f
city_data_df["Max Temp"]

0      57.668
1      34.664
2      76.640
3      40.460
4      21.434
        ...
556    81.140
557    70.196
558    59.216
559    71.096
560    77.018
Name: Max Temp, Length: 561, dtype: float64

In [7]:
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Henties Bay,NaN,2022-10-11 21:25:15,-22.1160,14.2845,57.668,94,4,3.80
1,1,Turukhansk,RU,2022-10-11 21:25:16,65.8167,87.9833,34.664,98,100,6.53
2,2,Hamilton,US,2022-10-11 21:21:17,39.1834,-84.5333,76.640,36,0,3.60
3,3,Abrau-Dyurso,RU,2022-10-11 21:25:17,44.6900,37.5900,40.460,57,4,3.25
4,4,Clyde River,CA,2022-10-11 21:25:18,70.4692,-68.5914,21.434,73,75,5.66

In [8]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [9]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity = 300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the humidity
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the cloudiness
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent wind speed
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the windspeed
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Hamilton,US,2022-10-11 21:21:17,39.1834,-84.5333,76.640,36,0,3.60
5,5,Faanui,PF,2022-10-11 21:25:18,-16.4833,-151.7500,77.432,78,40,6.97
8,8,Ramgarh,IN,2022-10-11 21:25:20,23.6333,85.5167,77.054,91,83,0.71
9,9,Betioky,MG,2022-10-11 21:25:20,-23.7167,44.3833,75.074,58,16,1.27
17,17,Ladario,BR,2022-10-11 21:25:26,-19.0047,-57.6017,78.890,65,40,2.57
26,26,Vaini,TO,2022-10-11 21:25:32,-21.2000,-175.2000,75.362,83,75,4.12
28,28,Arraial Do Cabo,BR,2022-10-11 21:25:33,-22.9661,-42.0278,75.056,83,0,5.66
29,29,Axim,GH,2022-10-11 21:25:34,4.8699,-2.2405,76.982,85,33,2.60
30,30,Ambon,ID,2022-10-11 21:25:35,-3.6954,128.1814,75.344,94,40,4.12
32,32,Oistins,BB,2022-10-11 21:25:36,13.0667,-59.5333,80.690,83,40,8.75

In [17]:
preferred_cities_df.count()

City_ID       163
City          163
Country       163
Date          163
Lat           163
Lng           163
Max Temp      163
Humidity      163
Cloudiness    163
Wind Speed    163
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2          Hamilton      US    76.640  39.1834  -84.5333
5            Faanui      PF    77.432 -16.4833 -151.7500
8           Ramgarh      IN    77.054  23.6333   85.5167
9           Betioky      MG    75.074 -23.7167   44.3833
17          Ladario      BR    78.890 -19.0047  -57.6017
26            Vaini      TO    75.362 -21.2000 -175.2000
28  Arraial Do Cabo      BR    75.056 -22.9661  -42.0278
29             Axim      GH    76.982   4.8699   -2.2405
30            Ambon      ID    75.344  -3.6954  128.1814
32          Oistins      BB    80.690  13.0667  -59.5333

In [19]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    #print(base_url, params)
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Hamilton,US,76.640,39.1834,-84.5333,Six Acres Bed & Breakfast
5,Faanui,PF,77.432,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
8,Ramgarh,IN,77.054,23.6333,85.5167,HOTEL TREAT RESIDENCY
9,Betioky,MG,75.074,-23.7167,44.3833,Bungalows Acacias Hotel
17,Ladario,BR,78.890,-19.0047,-57.6017,Hotel Fazenda 4 cantos
26,Vaini,TO,75.362,-21.2000,-175.2000,Keleti Beach Resort
28,Arraial Do Cabo,BR,75.056,-22.9661,-42.0278,Pousada Porto Praia
29,Axim,GH,76.982,4.8699,-2.2405,Axim Beach Resort And Spa
30,Ambon,ID,75.344,-3.6954,128.1814,Swiss-Belhotel Ambon
32,Oistins,BB,80.690,13.0667,-59.5333,Butterfly Beach Hotel

In [24]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [26]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))