# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [13]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

In [2]:
# Configure gmaps
gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [3]:
# Read the WeatherPy_vacation.csv into a DataFrame
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")

# Display sample data
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,8,Lazaro Cardenas,MX,81.36,overcast clouds,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
1,14,Sinnamary,GF,78.82,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
2,17,Isangel,VU,84.31,scattered clouds,-19.5500,169.2667,Tanna Lodge
3,20,Vaini,TO,77.14,light rain,-21.2000,-175.2000,Keleti Beach Resort
4,22,Butaritari,KI,81.37,few clouds,3.0707,172.7902,Isles Sunset Lodge
5,28,Hilo,US,87.28,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
6,36,Axim,GH,76.32,overcast clouds,4.8699,-2.2405,Axim Beach Resort And Spa
7,42,Avarua,CK,77.05,overcast clouds,-21.2078,-159.7750,Paradise Inn
8,43,Georgetown,MY,84.13,few clouds,5.4112,100.3354,Cititel Penang
9,49,Dogondoutchi,NE,83.55,overcast clouds,13.6393,4.0287,Hôtel Alheri Maison Alheri

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [4]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [20]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
vacation_start =pd.DataFrame(vacation_df.loc[vacation_df["City"]=="Brenham"])
vacation_end = pd.DataFrame(vacation_df.loc[vacation_df["City"]=="Brenham"])
vacation_stop1 = pd.DataFrame(vacation_df.loc[vacation_df["City"]=="San Patricio"])
vacation_stop2 = pd.DataFrame(vacation_df.loc[vacation_df["City"]=="Buckeye"])
vacation_stop3 = pd.DataFrame(vacation_df.loc[vacation_df["City"]=="Grants Pass"])

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
147,639,Brenham,US,80.38,broken clouds,30.1669,-96.3977,Hampton Inn & Suites Brenham

In [27]:
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
#start[0]
start

array([ 30.1669, -96.3977])

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [28]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat", "Lng"]].to_numpy()[0]
end = vacation_end[["Lat", "Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat", "Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat", "Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat", "Lng"]].to_numpy()[0]

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [29]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2,stop3],
        travel_mode='DRIVING')

# Add the layer to the map
fig.add_layer(vacation_itinerary)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [30]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,639,Brenham,US,80.38,broken clouds,30.1669,-96.3977,Hampton Inn & Suites Brenham
1,411,San Patricio,US,82.29,scattered clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
2,169,Buckeye,US,76.12,clear sky,33.3703,-112.5838,Buckeye Motor Hotel
3,643,Grants Pass,US,76.51,clear sky,42.4390,-123.3284,Shilo Inns Grants Pass

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [32]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [33]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))